<h1><%= response.status %> - <%= @page_title %></h1>

<pre>
<%= @error.class %>: <%= @error.message %>

<% if @show_backtrace %>
<%= @error.backtrace.join("\n") %>
<% end %>
</pre>

<section>
  <h2>Need help?</h2>
  <p>
    Browse the
    <a href="https://html2rss.github.io/" rel="noopener noreferrer">
      html2rss project website
    </a>
    or start a
    <a href="https://github.com/orgs/html2rss/discussions" rel="noopener noreferrer">
      discussion on Github.
    </a>
  </p>
</section>
